html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h4 {
  display: inline;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#map-canvas { 
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
}

#location-box {
  position: fixed;
  z-index: 20;
  width: 250px;
  height:22px;
  top: 3px;
  right: 30px;
  font-size: 1.0em;
  border-radius: 3px;}

#search-box {
  position: fixed;
  z-index: 10;
  width: 250px;
  height: 22px;
  top: 30px;
  right: 30px;
  font-size: 1.0em;
  border-radius: 3px;}

#search-button {
  position: fixed;
  top: 30px;
  right: 3px;
  z-index: 10;
  border-radius: 3px;}

#place-list-toggle {
  position: absolute;
  top: 60px;
  right: 1px;
  z-index: 30;
  border-radius: 3px;    
}

.place-list {
  padding: 3px;
  display: inline-block;
  width: 20%;
  max-height: 70%;
  float: right;
  position: absolute;
  top: 90px;
  right: 5px;
  z-index: 5;
  overflow-y: scroll;
  border-radius: 3px;
}

.place-list-item {
  padding: 3px 5px;
  margin: 0px 0px 0px 0px;
  border: 2px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  background-color: white;
  border-radius: 3px;
}

@media only screen and (max-width: 480px) {
  #search-box {
    top: 50px;
  }
  #search-button {
    top: 50px;
  }
.place-list {
  width: 70%;
  }
}

@media only screen and (max-device-width: 480px) {
 }