      html, body { height: 100%; margin: 0; padding: 0;}
      li {list-style-type: none;}
      img {}
      #app-container {height: 100%; width: 100%}
      #map-canvas { height: 100%; width: 100%; left: 0px; top: 0px; margin: 0; padding: 0; position: absolute; z-index: 1;}
    #photo-album { 
        display: none;
        position: absolute;
        float: bottom;
        width: 30%;
        height: 30%;
        margin: 0;
        padding: 0;
        z-index: 1000;
        overflow-y: scroll;}
        #search-box {position: absolute; z-index: 300; top: 20px; left: 50px;}
    #search-button {position: absolute; top: 20px; left: 200px; z-index: 300;}
        #location-box {position: absolute; z-index: 300; top: 100px; left: 50px;}
    #location-button {position: absolute; top: 100px; left: 200px; z-index: 300;}
        #pac-input {position: absolute; z-index: 300; top: 150px; left: 50px;}

      .place-list {
        height: 40%;
        width: 20%;
        background-color: white;
        float: right;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 200;
        overflow-y: scroll;}
      .place-list-item {
        border-bottom: 1px solid gray;
        cursor: pointer;
        }
        #album-close-button {
            position:absolute;
            float: right;
            top: 5px;
        }

        .map-marker {
            color: #F57D3C;
        }